<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{@site.title}}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <script type="module" src="/assets/js/main.js"></script>
    {{ghost_head}}
</head>
<body>

    <header>
    <h1>{{@site.title}}</h1>
    <p>{{@site.description}}</p>
    {{navigation}}
    </header>

    {{{body}}}

    <footer>
        {{navigation type="secondary"}}
    </footer>

    {{!-- Need jQuery for Ghost Portal --}}
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js">
    </script>
    {{ghost_foot}}
</body>
</html>