{{!< default}}

<main>
  <link rel="stylesheet" href="{{asset 'css/post.css'}}">

  {{#post}}

  <article class="{{post_class}} {{visibility}} {{#foreach tiers}}{{slug}} {{/foreach}}">
    <header>
      {{#if feature_image}}
          <img src="{{img_url feature_image}}" alt="{{feature_image_alt}}">
          <figcaption>{{feature_image_caption}}</figcaption>
      {{/if}}
      <h1 class="title">{{title}}</h1>
      {{> "publish-stamp"}}
      {{#has visibility="paid"}}
        <span class="premium-label">Premium</span>
      {{/has}}
      {{#foreach tiers}}{{log this}} {{/foreach}}
    </header>
    <section class="content">
      {{content}}
    </section>
    <section>
    {{#if comments}}
      {{comments title="Conversation" count=true mode="auto"}}
    {{/if}}
    </section>
  </article>

  {{/post}}
</main>
{{> 'sidebar'}}