{{!< default}}

{{#post}}

<article class="{{post_class}}">
  <header>
    <h1>{{title}}</h1>
    {{> "publish-stamp"}}
  </header>
  <section>
    {{content}}
  </section>
  <section>
  {{#if comments}}
    <h2>Comments</h2>
    {{comment_count}}
    {{comments title="" count=false mode="light" saturation=80}}
  {{/if}}
  </section>
</article>

{{/post}}